flows.json
[{"id":"25458ce8.857b84","type":"tab","label":"Movie Ticketing","disabled":false,"info":""},{"id":"6c2ac733.baad98","type":"inject","z":"25458ce8.857b84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":140,"y":160,"wires":[["864cab68.104b48"]]},{"id":"3d780bad.e06fb4","type":"debug","z":"25458ce8.857b84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"864cab68.104b48","type":"watson-conversation-v1","z":"25458ce8.857b84","name":"","workspaceid":"189865df-f277-4986-af38-8ad0d4e8cbb4","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0d86f509-3b73-41a0-8308-c69eb7aec180","timeout":"","optout-learning":false,"x":340,"y":200,"wires":[["ae63e03d.0fd4a"]]},{"id":"ae63e03d.0fd4a","type":"function","z":"25458ce8.857b84","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["3d780bad.e06fb4","5ded448.f8b70bc"]]},{"id":"5cda47eb.50ac48","type":"ui_form","z":"25458ce8.857b84","name":"","label":"","group":"5382072.248bbf8","order":0,"width":0,"height":0,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["9f02ba3d.a1d6f8"]]},{"id":"9f02ba3d.a1d6f8","type":"function","z":"25458ce8.857b84","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":340,"wires":[["864cab68.104b48","3bf05e7c.a569a2"]]},{"id":"3bf05e7c.a569a2","type":"ui_text","z":"25458ce8.857b84","group":"5382072.248bbf8","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":380,"wires":[]},{"id":"5ded448.f8b70bc","type":"ui_text","z":"25458ce8.857b84","group":"5382072.248bbf8","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":280,"wires":[]},{"id":"5382072.248bbf8","type":"ui_group","z":"","name":"Chat Bot","tab":"1a72a810.15dbe8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a72a810.15dbe8","type":"ui_tab","z":"","name":"Movie Ticketing","icon":"dashboard","disabled":false,"hidden":false}]